<app-header />
<form
  class="h-screen w-screen flex flex-col justify-center items-center gap-3"
  #login="ngForm"
  (ngSubmit)="checklogin()"
>
  <input
    type="text"
    name="username"
    required
    placeholder="username"
    class="custom-input p-5 w-60"
    ngModel
  />
  <input
    type="password"
    name="password"
    required
    ngModel
    placeholder="password"
    class="custom-input p-5 w-60"
  />
  <button type="submit" class="bg-slate-600 rounded-lg p-5 w-60 text-white">
    submit
  </button>
</form>
